#Comment
# NC = non case sensitive, L = last rule this condition will match


#Rewrite Enginr on
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Test Rewrite for Home.php
RewriteRule ^(de|en)/?(\w*)$ pages/home.php?lang=$1&id=$2 [QSA,L]



#Rewrite for all
