html, body {
    height: 100%;
    margin: 0;
    min-width: 350px;
    background-color: #808e9b;
}

/*
Header
 */

header {
    background-color: #0be881;
    width: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {
    header h1{
        font-size: 75px;
    }
    header img{
        height: 58px;
        width: 58px;
        margin-left: 25%;
    }
}

@media screen and (max-width: 768px) {
    header h1{
        font-size: 50px;
    }
    header img{
        height: 48px;
        width: 48px;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 500px) {
    header h1{
        font-size: 30px;
    }
    header img{
        height: 28px;
        width: 28px;
        margin-left: 15%;
    }
}



header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, serif;
    color: #222f3e
}

header img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}

/*
Navigation
 */

.navigation {
    position: sticky;
    top: 0;
    background-color: #485460;
}

.navigation ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation ul li {
    list-style-type: none;
}

@media screen and (max-width: 450px){
    .navigation ul li {
        padding: 14px 12px;
    }
    .navigation ul li a, .adminViewBtn a, .productViewBtn a {
        font-size: 14px;
    }
}

@media screen and (min-width: 450px){
    .navigation ul li {
        padding: 14px 16px;
    }
    .navigation ul li a, .adminViewBtn a, .productViewBtn a {
        font-size: 16px;
    }
}

.navigation ul li{
    float: left;
    display: block;
    text-align: center;

}

.navigation ul li a, .adminViewBtn a, .productViewBtn a {
    color: #ecf0f1;
    text-decoration: none;
    font-family: Arial, serif;
}

.navigation ul li a img {
    padding-right: 10px;
}

.navigation ul li:hover {
    background-color: #3498db;
}

.active {
    background-color: #05c46b;
}

/*
Profile & Admin
 */

@media screen and (min-width: 768px) {
    .profileView button, .profileEdit button, .userEdit table tr td button, .userList table tr td button, .productList table tr td button, .profileEdit table tr td button, .PaymentDetails table tr td button, .adminOrderEdit table tr tr button, .paymentTableBtn {
        font-size: 16px;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .profileView button, .profileEdit button, .userEdit table tr td button, .userList table tr td button, .productList table tr td button, .profileEdit table tr td button, .PaymentDetails table tr td button, .adminOrderEdit table tr tr button, .paymentTableBtn {
        font-size: 14px;
        padding: 10px 12px;
    }
}

.profileView button, .profileEdit button, .userEdit table tr td button, .userList table tr td button, .productList table tr td button, .profileEdit table tr td button, .PaymentDetails table tr td button, .adminOrderEdit table tr tr button, .paymentTableBtn {
    border: none;
    outline: none;
    color: #ecf0f1;
    background-color: #485460;
    font-family: inherit;
    margin: 0;
}

.profileView table tr td, .userList table tr td, .productList table tr td, .paymentTable tr td, .orderTable tr td, .adminOrderEdit table tr td {
    padding: 8px;
}

.profileView table tr th, .userList table tr th, .productList table tr th, .paymentTable tr th, .orderTable tr th, .adminOrderTable tr th{
    padding: 8px;
    text-align: left;
}

.profileView button:hover, .userEdit button:hover, .userList button:hover, .List button:hover, .profileEdit button:hover, .PaymentDetails button:hover, .paymentTable tr td button:hover, .adminOrderTable tr td button:hover{
    background-color: #3498db;
}

.profileEdit, .userEdit, .productEdit, .PaymentDetails, .adminOrderEdit, .categoryAdd{
    margin-top: 10px;
    display: none;
}

.adminChangeUser, .adminAddUser, .adminAddProduct, .adminChangeProduct, .adminOrderTable, .quantityLabel {
    display: none;
}

.adminSearch, .adminProductSearch {
    padding: 6px 8px;
}

.orderTable, .paymentTable, .userList, .userEdit, .productList, .productEdit {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.profileValLabel, .profileLabel {
    display: none;
}


/*
DropDown AdminView
 */
.adminViewDropDown {
    float: left;
    overflow: hidden;
}

.adminViewDropDown .adminViewBtn, .productViewBtn, .paymentHomeLinkBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ecf0f1;
    padding: 14px 16px;
    background-color: #485460;
    font-family: Arial, serif;
    margin: 0;
}

.adminViewDropDown:hover .adminViewBtn:hover, .paymentHomeLinkBtn:hover {
    background-color: #3498db;
}

.adminView-content {
    display: none;
    position: absolute;
    background-color: #485460;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
}

.adminView-content a {
    float: none;
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.adminView-content a:hover {
    background-color: #3498db;
}

.adminViewDropDown:hover .adminView-content {
    display: block;
}



/*
Dropdown Products
 */
.productDropDown {
    float: left;
    overflow: hidden;
}

.productDropDown, .productViewBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ecf0f1;
    background-color: #485460;
    font-family: inherit;
    margin: 0;
}

.productDropDown:hover, .productViewBtn:hover {
    background-color: #3498db;
}

.product-content {
    display: none;
    position: absolute;
    background-color: #485460;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
}

.product-content a {
    float: none;
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.product-content a:hover {
    background-color: #3498db;
}

.productDropDown:hover .product-content {
    display: block;
}

/*
DropDown Profile
 */

.profileViewDropDown {
    float: left;
    overflow: hidden;
}

.profileViewDropDown .profileViewBtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #ecf0f1;
    padding: 14px 16px;
    background-color: #485460;
    font-family: Arial, serif;
    margin: 0;
}

.profileViewDropDown:hover .profileViewBtn {
    background-color: #3498db;
}

.profileView-content {
    display: none;
    position: absolute;
    background-color: #485460;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
}

.profileView-content a {
    float: none;
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.profileView-content a:hover {
    background-color: #3498db;
}

.profileViewDropDown:hover .profileView-content {
    display: block;
}


/*
DropDown Language
 */

.languageDropDown {
    float: right;
    overflow: hidden;
}

.languageDropDown .languagebtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ecf0f1;
    padding: 14px 16px;
    background-color: #485460;
    font-family: inherit;
    margin: 0;
}

.languagebtn a:hover, .languageDropDown:hover .languagebtn {
    background-color: #3498db;
}

.language-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #485460;
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.language-content a {
    float: none;
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.language-content a:hover {
    background-color: #3498db;
}

.languageDropDown:hover .language-content {
    display: block;
}

/*
Content-Container
 */

/*
Sidebar right
 */

@media screen and (max-width: 768px) {
    .sideBar_content {
        width: 100%;
        float: none;
    }

    .sideBar_content ul li {
        margin-left: 10%;
    }

    .shoppingCartBtn, .registrationBtn, .loginBtn, .logoutBtn {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .sideBar_content {
        width: 25%;
        height: 100%;
        float: right;
    }

    .shoppingCartBtn, .registrationBtn, .loginBtn, .logoutBtn {
        width: 80%;
    }
}

.sideBar_content {
    background-color: #576574;
}

.sideBar_content ul li button {
    border: none;
    cursor: pointer;
    background-color: #05c46b;
    padding: 14px;
    margin: 10px;
    color: #ecf0f1;
}

.sideBar_content ul{
    list-style-type: none;
}

.sideBar_content ul li button:hover {
    opacity: 0.8;
}

/*
Content of the Site
 */

.home_Box {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    font-family: Arial, serif;
}

.home_Box img{
    max-width: 100%;
    max-height: 100%;
}

.Zitat{
    font-size: 25px;
    font-family: "Arial Black", serif;
    margin-bottom: -16px;
}

.home_Box p:nth-child(3){
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    .content {
        margin-bottom: 8%;
    }
}

@media screen and (min-width: 768px){
    .content {
        margin-right: 25%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

.content {
    padding: 5px 10px;
    background-color: #ecf0f1;
    color: #222f3e;
}

.products {
    align-content: space-evenly;
}

.product {
    display: inline-block;
    margin: 5px 5px;
    padding: 2px;
}

.productID {
    display: none;
}

.product_chosen {
    margin-left: 40%;
    padding: 5px;
}

.productID {
    display: none;
}

.buttonAdd {
    border: none;
    cursor: pointer;
    background-color: #05c46b;
    padding: 10px 8px;
    color: #ecf0f1;
}

.buttonAdd:hover{
    opacity: 0.8;
}

/*
Login-form, Registration-form
 */

.login_container, .registration_container, .creditCard_container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    background: rgba(0,0,0, 0.4);
}


.login_Form input[type=text], .login_Form input[type=password], .registration_Form input[type=text], .registration_Form input[type=password], .registration_Form input[type=email], .creditCard_content input[type=text], .creditCard_content input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.login_Form label, .registration_Form label, .creditCard_content label{
    font-size: 20px;
    font-style: normal;
    font-family: Arial, serif;
    color: #576574;
}

.login_Form button, .registration_Form button, .creditCard_content button{
    background-color: #0be881;
    color: #576574;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login_Form button:hover, .registration_Form button:hover, .creditCard_content button:hover{
    opacity: 0.8;
}

.cancel_Btn {
    width: auto;
    padding: 10px 18px;
}

.login_Form, .registration_Form, .creditCard_content{
    background-color: #dfe4ea;
    margin: 10% auto 15% auto;
    width: 40%;
    padding: 10px;
}

/*
Payment
 */

.cart {
    display: block;
}

.paymentConfirmation, .creditCardDetails, .PaymentDetails, .paymentHomeLinkBtn, .paymentOrder {
    display: none;
}

/*
Shopping Cart
 */

.shoppingCart_Container{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    background: rgba(0,0,0, 0.4);
}

.shoppingCart_Container button{
    background-color: #0be881;
    color: #576574;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.shoppingCart_Container button:hover{
    opacity: 0.8;
}

.cancel_Btn {
    width: auto;
    padding: 10px 18px;
}

@media screen and (max-width: 768px){
    .shoppingCart_Content{
        width: 80%;
        margin: 1% auto 3% auto
    }
}

@media screen and (min-width: 768px){
    .shoppingCart_Content{
        width: 60%;
        margin: 5% auto 10% auto;
    }
}
.shoppingCart_Content {
    background-color: #dfe4ea;
    padding: 10px;
}

.shoppingCartTable {
    width: 100%;
}

.shoppingCartTable button {
    padding: 8px;

}

.Item_Container {
    margin: 2px;
    overflow-x: auto;
    background-color: white;
}


/*
Footer
 */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #485460;
}

.footerMenu li {
    float: left;
}

.footerMenu li:hover {
    background-color: #3498db;
}

.footerMenu li a {
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}